html {
    background: #000;
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    user-select: none;
}

#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

header {
    position: relative;
    margin: 30px 0;
}

/* text-outline visible on other videos and images */
header {
    text-shadow:
        0.1em 0 black,
        0 0.1em black,
        -0.1em 0 black,
        0 -0.1em black;
}

header:after {
    content: "";
    width: 460px;
    height: 15px;
    display: inline-block;
    text-align: center;
}

h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    color: #fff;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    margin: 0 0 30px;
}

.nowplaying {
    font-size: 120px;
    line-height: 1;
    color: #eee;
    text-shadow:
        0.03em 0 black,
        0 0.03em black,
        -0.03em 0 black,
        0 -0.03em black;
    transition: all 0.07s ease;
    min-height: 120px;
}

.keys {
    display: block;
    width: 100%;
    height: 350px;
    max-width: 880px;
    position: relative;
    margin: 40px auto 0;
}

.key {
    position: relative;
    border: 4px solid black;
    border-radius: 0.5rem;
    transition: all 0.07s ease;
    display: block;
    box-sizing: border-box;
    z-index: 2;
}

.key:hover {
    border-color: #7D26CD;
    box-shadow: inset 0 0 1rem #7D26CD;
}

.key:not(.sharp) {
    float: left;
    width: 10%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
}

.key.sharp {
    position: absolute;
    width: 6%;
    height: 60%;
    background: #000;
    color: #eee;
    top: 0;
    z-index: 3;
}

.key[data-key="87"] {
    left: 7%;
}

.key[data-key="69"] {
    left: 17%;
}

.key[data-key="84"] {
    left: 37%;
}

.key[data-key="89"] {
    left: 47%;
}

.key[data-key="85"] {
    left: 57%;
}

.key[data-key="79"] {
    left: 77%;
}

.key[data-key="80"] {
    left: 87%;
}

.playing {
    transform: scale(0.95);
    border-color: #7D26CD;
    box-shadow: inset 0 0 1rem #7D26CD;
}

.hints {
    display: block;
    width: 100%;
    opacity: 1;
    position: absolute;
    bottom: 7px;
    font-size: 20px;
}
